// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

	.logo {
	    height: 50px;
	    position: absolute;
	    right: 12px;
	    top: 2px;
	}

	.toolbar-background {
		background-color: #231f20;
	}

	.toolbar{
		border-bottom: 2px solid red;
	}

	.toolbar-title {
		color: white;
		font-family: 'Lora', serif;
	}

	.ion-title{
		padding: 20px 40px;
	}

	.bar-button{
		color: white;
	}

	.bar-button:hover{
		color: red;
	}

	.headline{
		width: 100%;
		padding-bottom: 10px;
		border-bottom: 1px solid black;
		background-color: #e8e8e8;
		.headline-image {
			width: 100%;
		}
		.headline-text{
			text-transform: capitalize;
			padding: 0 16px;
			.top-story{
				color: red;
				text-transform: uppercase;
				font-style: italic;
			}
		}
	}

	.trending{
		width: 100%;
		height: 30px;
		.trending-name{
			width: 30%;
			color: red;
			height: 30px;
			text-transform: uppercase;
			background-color: black;
			font-size: 20px;
			line-height: 30px;
			text-align: center;
			font-style: italic;
			float: left;
			border-top: 1px solid red;
			border-bottom: 1px solid red;
			border-right: 1px solid red;
		}
		.trender {
			height: 30px;	
			overflow: hidden;
			position: relative;
		}
		.trender p {
			float: left;
			height: 100%;
			width: 100%;
			color: black;
			font-size: 14px;
			position: absolute;
			margin: 0;
			line-height: 30px;
			/* Starting position */
			-moz-transform:translateX(100%);
			-webkit-transform:translateX(100%);	
			transform:translateX(100%);
			/* Apply animation to this element */	
			-moz-animation: example1 15s linear infinite;
			-webkit-animation: example1 15s linear infinite;
			animation: example1 15s linear infinite;
			}
			/* Move it (define the animation) */
			@-moz-keyframes example1 {
				0%   { -moz-transform: translateX(100%); }
				100% { -moz-transform: translateX(-100%); }
			}
			@-webkit-keyframes example1 {
				0%   { -webkit-transform: translateX(100%); }
				100% { -webkit-transform: translateX(-100%); }
			}
			@keyframes example1 {
				0%   { 
					-moz-transform: translateX(100%); /* Firefox bug fix */
					-webkit-transform: translateX(100%); /* Firefox bug fix */
					transform: translateX(100%); 		
				}
				100% { 
					-moz-transform: translateX(-100%); /* Firefox bug fix */
					-webkit-transform: translateX(-100%); /* Firefox bug fix */
					transform: translateX(-100%); 
			}
		}
	}

	.section{
		width: 100%;
		margin-bottom: 50px;
	}

	h4.section-title{
		padding-left: 2%;
		text-transform: capitalize;
	}

	.story {
		float: left;
		width: 46%;
		height: 200px;
		overflow: hidden;
		margin: 0 2% 20px;
		position: relative;
		border: 1px solid gray;
		.story-image{
			width: 100%;
			height: 120px;
		}
		.story-title{
			padding: 5px;
			margin: 0;
			font-size: 14px;
		}
		.story-date{
			padding: 0 5px 5px;
			margin: 0;
			font-size: 10px;
			color: gray;
		}
	}

	.older-story{
		width: 96%;
		display: block;
		margin: 0 2% 10px;
	}