h1, h2, h3, h4, p{
	font-family: 'Sahitya', serif;
	padding: 10px;
}

.content-md {
    color: #2b2b2b;
    background-color: #e1e1e1;
}

.toolbar-title{
	font-family: 'Sahitya', serif;
	text-transform: capitalize;
	text-align: left;
}

.headline-image{
	width: 100%;

}